<div id="myCarousel" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <!-- <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li> -->
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag 'discovery.jpg'%>
            <div class="container">
              <div class="carousel-caption text-left">
                <div class="row">
                  <div class="col-md-8">
                    <h1 class="h1_caption">MISSON TO THE MOON</h1>
                 </div><!--col-md-8 -->
                  <div class="col-md-4">
                    <p class="p_caption">Space Shuttle Discovery<br> Photo by NASA &copy;</p>
                  </div><!--col-md-4 -->
                </div><!-- row-->
              </div>
            </div><!-- container-->
          </div><!-- carosuel item-->
          <div class="carousel-item">
            <%= image_tag 'moon2.jpg' %>
            <div class="container">
              <div class="carousel-caption text-left">
                <div class="row">
                  <div class="col-md-8">
                    <h1 class="h1_caption">Lets Occupy the Moon.</h1>
                  </div>
                  <div class="col-md-4">
                    <p class="p_caption">Space Shuttle Discovery<br> Photo by NASA &copy;</p>
                  </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <%= image_tag 'moons.jpg' %>
            <div class="container">
              <div class="carousel-caption text-left">
                <div class="row">
                  <div class="col-md-8">
                    <h1 class="h1_caption">LSearching For a Twin Earth.</h1>
                  </div>
                  <div class="col-md-4">
                    <p class="p_caption">Space Shuttle Discovery<br> Photo by NASA &copy;</p>
                  </div>
              </div>
            </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>