/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
  @import "missions";
   @import "footer";

/* Show it is fixed to the top */
body {
  min-height: 50rem;
  padding-top: 3.5rem;
}

.bg-dark
{
	background-color: #050505 !important;
}


h5
{
	font-family: Helvetica, sans-serif;
	color: #fff;
	padding-bottom: 1rem;
	text-transform: uppercase;
}

h6
{
	font-family: Helvetica, sans-serif;
	color: #999;
	line-height:1.5;
	text-shadow: 1px 1px 1px #000000;
	text-transform: uppercase;
}


.floatr
{
	float:right;
}

.top-margin
{
	margin-top:1rem
}

.bottom-margin
{
	margin-bottom:1rem
}