/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
  @import "missions";
   @import "footer";
   @import "navigation";
   @import "mediastyling";

/* Show it is fixed to the top */

body {
  min-height: 50rem;
  padding-top: 3.5rem;
  font-family: 'Brandon Grotesque', 'brandon-grotesque-n7', 'brandon-grotesque', 'Helvetica,sans-serif;'
}

.bg-dark
{
	background-color: #050505 !important;
}

h1
{color:#3a3a5a;}

h2
{
   color:#3a3a4a;
   line-height: 30px;
}

h3
{
	color:#2a3b6c;
}

h4
{
	
	font-style: normal;
	font-size:1.25rem;
	color:#223338;
}

h5
{
	
	color: #fff;
	padding-bottom: 1rem;
	text-transform: uppercase;
	padding-bottom: 1rem;
}

.h5
{
	color: #444444;
}


h6
{
	color: #999;
	line-height:1.5;
	text-shadow: 1px 1px 1px #000000;
	text-transform: uppercase;
}

h6
{

	text-shadow: 0px 0px 0px #000000;
}



.floatr
{
	float:right;
}

.top-margin
{
	margin-top:1rem
}

.bottom-margin
{
	margin-bottom:1rem
}

.form-border
{
	border: 0px solid #555555;
}


.border_bottom
{
	border-bottom: 0px dashed #444444;
	margin-bottom: 1rem;
}

.btn-outline-info
{
	
	background-color: #050505;
	border: 0px solid #555555;
}


.btn-light
{
	border: 1px solid #cdcdcd;
	padding: 7px;
	background-color: #fff;
	border-radius: 10%;
}