@media (max-width: 576px)
{
	.floatr
	{
		float: left !important;
		
	}

	.form-control
	{
		width:100% !important;
	}

	.full_width
	{
		width:100%;
	}

	.card
	{
		margin-bottom: 1rem !important;
	}
}